.Header__Schedule {
    justify-items: center;
    align-content: center;
}

.Header__Schedule h1{
  font-size:2.5em;
  color: #fff;
  opacity: 0.7;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.Header__Schedule h1 .MuiSvgIcon-root {
    font-size:0.9em !important;
}
